* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, white, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    red,
    white,
    blue
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    red,
    white,
    blue
  ); /* Standard syntax (must be last) */
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.page-section {
  width: 100vw;
}

.page-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;

  position: relative;
  overflow: hidden;

  border: none;
  border-radius: 6px;

  background-color: #1670ba;
  color: white;

  cursor: pointer;

  text-decoration: none;
  font-size: 1em;
}

#home-container {
  display: flex;
  flex-direction: row;

  width: 100vw;
  max-height: 100vh;

  position: relative;
  overflow: scroll;
}

#map-selector {
  width: 60%;
  height: 100%;

  position: sticky;
  top: 0;
  left: 0;
}

#result-grid {
  display: grid;
  grid-template-columns: 1fr;

  width: 40%;

  position: relative;
  top: 0;

  background-color: red;
}

.result-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #eee;
}
