.screeFiller{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid orange
}

    #nav-bar__container {
        padding-left: 8%;
        padding-right: 8%;
      
        position: sticky;
        top: 0;
        z-index: 10;
      
        background-color: #aaa;
      }
      
      .nav-bar__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
        width: 100%;
        height: 8vh;
      }
      
      .nav-bar__logo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      #logo {
        width: 100%;
        height: 100%;
      }
      
      .menu-list {
        list-style-type: none;
      
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        column-gap: 24px;
      
        overflow: hidden;
      }
      
      .menu-list__item {
        padding: 4px;
      }
      
      .menu-list__item > a {
        text-decoration: none;
        color: white;
      }
      .menu-list__btn-text{
        float: right;
      }
      