#footer-container {
  padding-left: 8%;
  padding-right: 8%;

  position: sticky;
  top: 100vh;

  background-color: #aaa;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  width: 100%;
  height: 8vh;
}
