.search-result {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  width: 400px;
  height: 100%;

  padding-left: 16px;
  padding-right: 16px;

  position: relative;

  border: solid 2px #1670ba;
  border-radius: 8px;

  background-color: #fff;
}

.search-result__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  row-gap: 2px;
  flex-grow: 0;

  padding-top: 8px;
  padding-bottom: 8px;

  width: 50%;
  height: 100%;
}

.search-result__info-img {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 60px;
  height: 60px;

  border-radius: 4px;
}

.search-result__info-img > img {
  width: 100%;
  height: 100%;
}

.search-result__info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 2px;

  width: 100%;
}

.search-result__info-name {
  font-size: 1.2em;
  font-weight: 700;
}

.search-result__info-position {
  font-size: 1em;
}

.search-result__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  row-gap: 24px;

  padding-top: 8px;
  padding-bottom: 8px;

  width: 50%;
  height: 100%;
}

.search-result__contribs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 8px;

  height: max-content;
}

.search-result__contribs-title {
  font-size: 1.2em;
  font-weight: 700;
}

.search-result__contribs-content {
  font-size: 1.6em;
  color: #1670ba;
}

.search-result__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
